<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Mizalee's Map</title>
    <link rel="stylesheet" type="text/css" href="../static/css/allCss.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" />
  </head>
  <body>
    <nav>
      <a href="/" class="logo-aTag">
        <div class="logo-box">
          <img src="../static/img/logo.png" /> Mizalee's Map
        </div>
      </a>
    </nav>

    <div class="main-cover"></div>
    <div class="title-box">
      <div class="icon"></div>
      <div class="sentence"></div>
      <div></div>
    </div>

    <div class="visited-container">
      <div class="title">
        <span> 방문했던 맛집들 </span>
        <div class="sub">또 가야지이~~</div>
      </div>
    </div>
  </body>
</html>
