<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Mizalee's Map</title>
    <link rel="stylesheet" type="text/css" href="../static/css/allCss.css" />
  </head>
  <body>
    <div class="logo-box">
      <nav>
        <div class="logo-box">
          <a href="/" class="logo-aTag">
            <div style="color: #fefefe; font-weight: bold; padding-top: 20px">
              <img src="../static/img/logo.png" /> Mizalee's Map
            </div>
          </a>
        </div>
      </nav>

      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
  </body>
</html>
